body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.form {
  margin: 10px 0;
}

.card {
  width: 18rem;
  margin-bottom: 10px;
}
.card-title {
 font: bold;
 color: crimson;
}
.card-text {
  color: blue;
}
.card-text::first-letter {
  text-transform: capitalize; 
}

.card-likes {
  color: darkorange;
}
.card-tags {
  color: brown;
}
.card-username {
  color: mediumslateblue;
}